.shad{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/p2.jpeg');
        background-size: cover;
        height: 400px;
        background-size: 33.33% 100%; /* width height */

}
.card1{
    
       width: 150x;
        height: 400px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
     
       
   
        font-size: 1.5em;
        /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    }
    
    .card1:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
